{% extends 'base.html' %}
{% block content %}

<div class="card p-3 mx-3 my-3">
<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Contenders</h1>
    </div>
    <form method="GET">
      <div class="form-group row ">
        <div class="col-6 ">
          <input type="text" name="search" class="form-control" placeholder="Search by name">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <table class="table mt-3" style="border: 2px solid #ccc; border-radius: 10px;">
      <thead>
        <tr>
          <th scope="col" class="text-center">Id</th>
          <th scope="col" class="text-center">Contender Name</th>
          <th scope="col" class="text-center">Legend Cup Score</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
          <tr>
            <td class="text-center">{{ item.pk }}</td>
            <td class="text-center">{{ item.contender }}</td>
            <td class="text-center">{{ item.score }}</td>
            <td>
                <a href="{% url 'legendcup_update' pk=item.pk %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'legendcup_delete' pk=item.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No contenderss found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
